.pokemon-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px 8px;
    margin: 20px 0 0 0;
    padding: 0;

    li {

      display: block;
      text-decoration: none;
    }

  }
  
  @media screen and (min-width: 320px) {
    .pokemon-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px 12px;
    }
  }
  
  @media screen and (min-width: 720px) {
    .pokemon-list {
      grid-template-columns: repeat(4, 1fr);
      gap: 16px 16px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .pokemon-list {
      grid-template-columns: repeat(6, 1fr);
    }
  }