<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item is-uppercase has-text-weight-bold">
        <span class="icon has-text-danger"><i class="fab fa-angular"></i></span>&nbsp;
        Best Practices #2
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
          <a routerLink="/dev-dashboard" class="navbar-item">Developer Dashboard</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
