<ng-container *ngIf="pokemonDetail; then pokemonFound; else pokemonNoFound"> </ng-container>

<ng-template #pokemonFound>
  <div class="pokemon-detail-container">
    <h1>{{ pokemonDetail.name }} #{{ pokemonDetail.id }}</h1>
    <div><img src="{{ pokemonDetail.img }}" /></div>
    <div *ngFor="let type of pokemonDetail.type" class="type" [ngClass]="type | lowercase">{{ type }}</div>
    <p><strong>Height:</strong> {{ pokemonDetail.height }} <strong>Weight:</strong> {{ pokemonDetail.weight }}</p>

    <h2>Weaknesses</h2>
    <ul *ngFor="let weakness of pokemonDetail.weaknesses" class="type" [ngClass]="weakness | lowercase">
      <i> {{ weakness }}</i>
    </ul>
  </div>
</ng-template>

<ng-template #pokemonNoFound>
  <div><h1>No pokemon found</h1></div>
</ng-template>
