.pokemon {
    min-height: 100px;
    border-radius: 4px;
    box-shadow: var(--card-shadow);

    header {
        padding: 10px 20px;
        font-size: 1.2em;
        font-weight: bold;
      }
  }
  
  .pokemon__image img{
    display: block;
    margin: auto;
    height: 120px;
  }
  
  .pokemon__actions {
    padding: 10px 20px;

    .action {
        display: block;
        text-align: right;
      }
  }
  