<section class="hero">
  <div class="hero-body is-paddingless">
    <div class="container">
      <h1 class="title">
          <span class="icon has-text-success">
              <i class="fas fa-home"></i>
          </span>&nbsp;Home
      </h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate similique repellat vero culpa incidunt, error, odio et sit deserunt a earum, sint temporibus distinctio beatae atque consequatur sunt! Cupiditate, molestias?</p>
    </div>
  </div>
</section>
