<h1 style="text-align:center">
  Welcome to The Best Practices Workshop
</h1>


<main>

  <mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="'15px'">
    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-content>
          <mat-card-title>Example #1</mat-card-title>
          <mat-card-subtitle>Encapsulation</mat-card-subtitle>
          <p>This is a paragraph tag part of the app component</p>

          <bp-encapsulation></bp-encapsulation>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-content>
          <mat-card-title>Example #2, #3, #4</mat-card-title>
          <mat-card-subtitle>Lazy Loading, Preloading Strategy n Service</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="'/no-lazy-loading'">No Lazy page</button>
          <button mat-button [routerLink]="'/lazy-loading'">Lazy page</button>
          <button mat-button [routerLink]="'/profile'">Profile</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-content>
          <mat-card-title>Example #6 n #7</mat-card-title>
          <mat-card-subtitle>Change Detection and Functions vs Pipes</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="'/contacts'">Contacts Page</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-divider></mat-divider>

  <router-outlet></router-outlet>

</main>
